
.nav-link {
    color: #000;
}

.main {
  background-image: url("/images/desktop-base.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 779px;
  margin-top: 0;
  background: ;
  background-position: top -30px;
  /* background-attachment: fixed; */
  /* position: absolute; */
}

.content {
 margin-top: 200px;
 margin-left: 260px;
}

.connect {
 color: #396df2;

}

.social-media-item {
    border: 0;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.work-pointers h3 {
    font-weight: 700;
    color: #344563;
  }
  
.work-pointers-bullets {
    background: #7a869a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    gap: 30px;
  }

  .tags {
    list-style: none;
    /* justify-content: space-between; */
    gap: 15px;
    padding-left: 0;
  }

  .tags li {
    
  }